@tailwind base;
@tailwind components;
@tailwind utilities;

#__next, body, html {
  height: 100%;
  background-color: #f3f4f6;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
